.btn {
    /* margin: 20px; */
    width: 100%;
    height: 100%;
}

div.indented-row {
    margin: 5px;
}

div.container {
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin: 4px;
}

div.padded-col {
    margin: 2px;
}

/* Overwriting bootstrap colours */
body {
    background-color: #212121 !important;
}

.bg-secondary {
    background-color: #424242 !important;
}

.btn-dark {
    background-color: #263238 !important;
}
